ng generate component date-range-picker

<input
  type="text"
  class="form-control"
  placeholder="From"
  [(ngModel)]="startDate"
  (focus)="showStartDatePicker = true"
/>

<input
  type="text"
  class="form-control"
  placeholder="To"
  [(ngModel)]="endDate"
  (focus)="showEndDatePicker = true"
/>

<div *ngIf="showStartDatePicker || showEndDatePicker">
  <div
    class="date-picker-container"
    *ngIf="showStartDatePicker"
    (click)="showStartDatePicker = false"
  >
    <input
      type="date"
      class="form-control"
      [(ngModel)]="startDate"
    />
  </div>

  <div
    class="date-picker-container"
    *ngIf="showEndDatePicker"
    (click)="showEndDatePicker = false"
  >
    <input
      type="date"
      class="form-control"
      [(ngModel)]="endDate"
    />
  </div>
</div>

import { Component } from '@angular/core';

@Component({
  selector: 'app-date-range-picker',
  templateUrl: './date-range-picker.component.html',
  styleUrls: ['./date-range-picker.component.css'],
})
export class DateRangePickerComponent {
  startDate: string;
  endDate: string;
  showStartDatePicker = false;
  showEndDatePicker = false;
}
<app-date-range-picker></app-date-range-picker>
.date-picker-container {
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
