h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}
mat-label{
    font-family:'Times New Roman', Times, serif;
    font-size: small;
}
h3{
    display: inline;
}
table{
    left: 20%;
}
p{
    display: inline;
}
mat-card{
    outline: auto;
    opacity: 70%;
    outline-color:rgb(194, 194, 194); 
}



  
 