<br>

  <table matSort >
    <tr>
      <button mat-raised-button (click)="openTempDialog()">
      <th mat-sort-header="name">Dessert (100g)</th></button>
      <button mat-raised-button (click)="openTempDialog()">
      <th mat-sort-header="calories">Calories</th></button>
      <button mat-raised-button (click)="openTempDialog()">
      <th mat-sort-header="fat">Fat (g)</th></button>
      <button mat-raised-button (click)="openTempDialog()">
      <th mat-sort-header="carbs">Carbs (g)</th></button>
      <button mat-raised-button (click)="openTempDialog()">
      <th mat-sort-header="protein">Protein (g)</th></button>

    <!-- <tr *ngFor="let dessert of sortedData">
      <td>{{dessert.name}}</td>
      <td>{{dessert.calories}}</td>
      <td>{{dessert.fat}}</td>
      <td>{{dessert.carbs}}</td>
      <td>{{dessert.protein}}</td> -->
    
    </tr>
  </table>

<ng-template #dialogRef let-mydata>
  <mat-card>
    <mat-card-content>
  <table>
    <th>Filter</th><mat-icon mat-button mat-dialog-close="">close</mat-icon>
  </table>
</mat-card-content>
</mat-card>
<mat-card>
<mat-card-content>
<span mat-button class="material-icons">arrow_upward</span>&nbsp;&nbsp;&nbsp;&nbsp;
<p>Sort Ascending (Lowest on Top)</p><br>
<span class="material-icons">arrow_downward</span>&nbsp;&nbsp;&nbsp;&nbsp;
  <P>Sort Descending (Higest on Top)</P>
</mat-card-content>
</mat-card>

&nbsp;&nbsp; <button mat-raised-button mat-dialog-reset=""> reset </button>
    &nbsp;&nbsp;
    <button mat-raised-button color="primary" mat-dialog-apply=""> Apply</button>
</ng-template> 